@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700&family=Inconsolata:wght@400;600;700&family=Roboto+Mono:wght@400;500;600;700&family=Saira:wght@400;600;700&display=swap');

body {
  margin: 0;
}



.container {
  height: 65.2rem;
  width: 75.5rem;
  display: flex;
  font-family: 'Saira';
  margin: 2rem;
  border: 1px solid black;
  border-radius: 13px;
  background: linear-gradient(to top, #233143, #161452);
} 

.previewMessage {
  position: relative;
  top: 22rem;
  left: 10rem;
  height: 3rem;
  width: 30rem;
  font-size: 3rem;
  letter-spacing: 10px;
  text-align: center;
  color: #D5D6D7;
}

/* -- MAIN SONG CONTAINER -- */

.mainSongContainer {
  height: 65rem;
  width: 52rem;
  max-height: 69rem;
  max-width: 52rem;
  border-right: 3px solid #BAADFF;
}

.searchbarContainer {
  position: absolute;
  top: 4rem;
  left: 14.5rem;
  height: 2.4rem;
  width: 26rem;
  display: flex;
}

.searchbar {
  width: 18.7rem;
  padding: 4px 9px;
  border: 1px solid #f8faf0;
  border-radius: 15px 0px 0px 15px;
}

.searchbar:focus {
  outline: none;
}

.searchBtn {
  width: 5.2rem;
  text-align: center;
  padding: 5px 8px;
  background: #D5D6D7;
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
}

.searchBtn:hover {
  font-weight: 700;
  background: #9A9A9A;
}

.search-albumCntr {
  height: 65rem;
  width: 23rem;
  max-height: 65rem;
  max-width: 23rem; 
}

/* -- MAIN SONG COMPONENT STYLES */

.mainSongView {
  position: absolute;
  top: 8.5rem;
  left: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 30px;
}

.albumImg {
  position: relative;
  bottom: 2rem;
  height: 17rem;
  width: 17rem;
  left: 27%;
}

.mainSongName {
  position: relative;
  top: -3rem;
  left: 2rem;
  width: 30rem;
  height: 3rem;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 10px;
  padding: 2px 5px;
  color: #FEE95D;
  word-wrap: break-word;
  overflow: hidden;
}

.otherInfoCntr {
  position: absolute;
  bottom: 3rem;
  right: -6.5rem;
  width: 45rem;
  display: flex;
  font-size: 1.2rem;
  padding: 0px 10px;
  justify-content: space-between;
  color: #F8FAF0;
  border-bottom: 3px solid #BAADFF;
}

.mainSongArtist {
  position: relative;
  top: 20px;
  left: 2rem;
  width: 10rem;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  padding: 2px 5px;
}

.mainSongAlbum {
  position: relative;
  top: 20px; 
  right: 3rem;
  width: 10rem;
  height: 1.8rem;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  word-wrap: break-word;
  overflow: hidden;
  padding: 2px 20px;
}

.mainSongLyrics {
  position: absolute;
  right: -5.5rem;
  top: 24rem;
  height: 30rem;
  width: 42rem;
  font-size: 20px;
  letter-spacing: 3px;
  white-space: pre;
  padding: 10px 15px;
  color: #F8FAF0;
  border: 1px solid #7777;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* -- IND SONG COMPONENT STYLES -- */

.indSongView {
  position: relative;
  left: -1px;
  top: 1.2rem;
  width: 22rem;
  padding: 2px .5rem;
  display: flex;
  color: #D5D6D7;
  justify-content: space-between;
  border-bottom: 1px solid #4444;
  cursor: pointer;
}

.indSongView:hover {
  color: #FEE95D;
}

.numSong {
  position: relative;
  top: 15px;
  left: 1rem;
  font-size: 20px;
  font-weight: 600;
  padding: 2px 10px;
  pointer-events: none;
}

.nameSong {
  position: relative;
  top: 25px;
  right: 1rem;
  width: 12rem;
  height: 1.8rem;
  font-size: 17px;
  font-weight: 600;
  text-align: right;
  padding: 2px 15px;
  word-wrap: break-word;
  overflow: hidden;
  pointer-events: none;
}

/* -- ALBUM SONG STYLES */

.albumCntr {
  height: 65rem;
  max-height: 64.9rem;
  color: #F8FAF0;
}

.albumImgRdc {
  position: relative;
  top: 4rem;
  left: 5rem;
  height: 13.5rem;
  width: 13.5rem;
}

.albumName {
  position: relative;
  top: 3.2rem;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 5px;
  text-align: center;
}

.artistName {
  position: relative;
  top: 1.8rem;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 3px;
  text-align: center;
}

.indSongContainer {
  position: relative;
  top: 1.2rem;
  left: 1px;
  width: 23.3rem;
  height: 41.3rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.lineBreakHeadingAlbm {
  position: relative;
  top: 1.2rem;
  width: 23.4rem;
  border-bottom: 1px solid #BAAFFD;
}

/* -- SEARCH SONG STYLES -- */

.searchResultsCntr {
  height: 65rem;
  max-height: 64.9rem;
}

.indSearchContainer {
  position: relative;
  left: -1px;
  top: 1px; 
  height: 55.6rem;
  width: 23.4rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.indSearchContainer::-webkit-scrollbar, .indSongContainer::-webkit-scrollbar, .mainSongLyrics::-webkit-scrollbar {
  width: 12px;
  background: linear-gradient(to top, #233143, #161452);
  border-radius: 0px 0px 15px 15px;
}

.indSearchContainer::-webkit-scrollbar-thumb, .indSongContainer::-webkit-scrollbar-thumb, .mainSongLyrics::-webkit-scrollbar-thumb {
  height: 2px;
  background: #131249;
  border-radius: 50px;
}

.searchHeading {
  position: relative;
  top: 1.5rem;
  width: 21.5rem;
  padding: 2px 10px;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 10px;
  color: #F8FAF0;
}

.lineBreakSearch {
  width: 23.4rem;
  border-bottom: 3px solid #BAADFF;
}

.indSearchSongView {
  position: relative;
  left: -1px;
  height: 4rem; 
  width: 22rem;
  padding: 2px .5rem;
  display: flex;
  color: #D5D6D7;
  justify-content: space-between;
  border-bottom: 1px solid #4444;
  cursor: pointer;
}

.indSearchSongView:hover {
  color: #FEE95D;
}

.nameSearchSong {
  position: relative;
  top: 10px;
  left: .5rem;
  height: 1.8rem;
  font-size: 17px;
  font-weight: 600;
  padding: 2px 10px;
  pointer-events: none;
  word-wrap: break-word;
  overflow: hidden;
}

.artistSearchSong {
  position: relative;
  top: 5px;
  right: .5rem;
  height: 1.8rem;
  font-size: 17px; 
  font-weight: 600;
  text-align: right;
  padding: 2px 10px;
  pointer-events: none;
  word-wrap: break-word;
  overflow: hidden;
}
