@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700&family=Inconsolata:wght@400;600;700&family=Roboto+Mono:wght@400;500;600;700&family=Saira:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  height: 65rem;
  width: 75rem;
  display: flex;
  font-family: 'Saira';
  margin: 2rem;
  border: 1px solid black;
} 

/* -- MAIN SONG CONTAINER -- */

.mainSongContainer {
  height: 65rem;
  width: 52rem;
  max-height: 65rem;
  max-width: 52rem;
  border-right: 1px solid black;
}

.searchbarContainer {
  position: absolute;
  top: 5rem;
  left: 14.5rem;
  height: 2.4rem;
  width: 26rem;
  display: flex;
  /* border: 1px solid black; */
}

.searchbar {
  width: 18.7rem;
  padding: 4px 9px;
  /* background: #D5D6D7; */
  border: 1px solid #D5D6D7;
  border-radius: 15px 0px 0px 15px;
}

.searchbar:focus {
  outline: none;
}

.searchBtn {
  width: 5.2rem;
  text-align: center;
  /* font-weight: 700; */
  padding: 5px 8px;
  background: #D5D6D7;
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
}

.searchBtn:hover {
  font-weight: 700;
  background: #9A9A9A;
}
/* <div className='mainSongContainer'>

          <div className='searchbarContainer'>
            <input className='searchbar' type='text' placeholder='Enter Song Name...'/>
            <div className='searchBtn'>Search</div>
          </div>
         */

.search-albumCntr {
  height: 65rem;
  width: 23rem;
  max-height: 65rem;
  max-width: 23rem; 
  border: 1px solid red; 
}

.mainSongView {
  position: absolute;
  left: 20rem;
  padding: 20px 30px;
  border: 1px solid black;
}

.albumImg {
  position: relative;
  height: 15rem;
  width: 15rem;
  left: 25%;
  border: 1px solid red;
}

.mainSongName {
  position: relative;
  left: 11.7rem;
  width: 5.5rem;
  padding: 2px 5px;
  border: 1px solid black;
}

.otherInfoCntr {
  position: relative;
  bottom: .5rem;
  display: flex;
  padding: 0px 10px;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.mainSongAlbum {
  position: relative;
  top: 5px;
  left: 1.5rem;
  padding: 2px 5px;
  outline: 1px solid blue;
}

.mainSongDuration {
  position: relative;
  top: 5px; 
  right: 1.5rem;
  padding: 2px 5px;
  outline: 1px solid blue;
}

.mainSongLyrics {
  height: 15rem;
  padding: 2px 5px;
  border: 1px solid #3333;
  border-radius: 5px;
}

.indSongView {
  width: 15rem;
  padding: 2px 1rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.numSong {
  padding: 1px;
  outline: 1px solid black;
}

.nameSong {
  padding: 1px;
  outline: 1px solid black;
}

.durationSong {
  padding: 1px;
  outline: 1px solid black;
}
